
   .nav-search {
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
  }
  
   .nav-search input {
      flex: 1;
      color: #0D6EFD;
      border: 1px solid #0D6EFD;
      height: 39px;
      border-right: none;
  }
  
   .nav-search button{
      color: #0D6EFD;
      border: 1px solid #0D6EFD;
      height: 39px;
  }
  
  .nav ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  
  .nav ul li{
      padding-left: 15px;
      padding-top: 15px;
  }
  
  .nav ul a {
      text-decoration: none;
      color: #0D6EFD;
      cursor: pointer;
  }
  
  h1 a{
    color: #0D6EFD;
    text-decoration: none;
  }
  
  .suggested-search{
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
    list-style: none;
    list-style-type: none;
  }
  .suggested-search li {
    padding:10px;
    border: 1px solid #ddd;
  }
  .suggested-search li a{
    cursor: pointer;
    color: #0D6EFD;
  }