<div class="bg-primary text-white py-5">
  <div class="container py-5">
    <h1>
      Best products & <br />
      brands in our store
    </h1>
    <p>
      Trendy Products, Factory Prices, Excellent Service
    </p>
    <button type="button" class="btn btn-outline-light me-1">
      Learn more
    </button>
    <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
      <span class="pt-1  px-2">Purchase now</span>
    </button>
  </div>
</div>

  <ngb-carousel *ngIf="popularProductsList">
    <ng-template ngbSlide *ngFor="let image of popularProductsList">
      <div class="picsum-img-wrapper">
        <img src="{{image.productImage}}" alt="Random first slide" class="product-header-image"/>
      </div>
      <div class="carousel-caption">
        <h3>{{image.productName}}</h3>
        <p>{{image.productDescription}}</p>
      </div>
    </ng-template>
  </ngb-carousel>

<section>
    <div class="container my-5">
      <header class="mb-4">
        <h3>Trendy products</h3>
      </header>
  
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex" *ngFor="let product of trendyProductsList">
          <div class="card w-100 my-2 shadow-2-strong">
            <a routerLink="/product-details/{{product.id}}">
                <img src="{{product.productImage}}" class="card-img-top" style="aspect-ratio: 1 / 1" />
            </a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><b>{{product.productName}}</b></h5>
              <p class="card-text"><b>{{product.productPrice | currency: 'INR'}}</b></p>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                  <a routerLink="/product-details/{{product.id}}" class="btn btn-primary shadow-0 me-1">View Details</a>
                <a routerLink="#" class="btn btn-primary shadow-0  px-2 pt-2">Add to cart</a>
                <!-- <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Products -->
  <section class="">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="card-banner bg-gray h-100" style="
                                                        min-height: 200px;
                                                        background-size: cover;
                                                        background-position: center;
                                                        width: 100%;
                                                        background-repeat: no-repeat;
                                                        top: 50%;
                                                        background-image: url('https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/banners/banner-item2.webp');">
            <div class="p-3 p-lg-5" style="max-width: 70%;">
              <h3 class="text-dark">Best products & brands in our store at 80% off</h3>
              <p>That's true but not always</p>
              <button class="btn btn-warning shadow-0" href="#"> Claim offer </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row mb-3 mb-sm-4 g-3 g-sm-4">
            <div class="col-6 d-flex">
              <div class="card w-100 bg-primary" style="min-height: 200px;">
                <div class="card-body">
                  <h5 class="text-white">Gaming toolset</h5>
                  <p class="text-white-50">Technology for cyber sport</p>
                  <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-6 d-flex">
              <div class="card w-100 bg-primary" style="min-height: 200px;">
                <div class="card-body">
                  <h5 class="text-white">Quality sound</h5>
                  <p class="text-white-50">All you need for music</p>
                  <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <!-- row.// -->
  
          <div class="card bg-success" style="min-height: 200px;">
            <div class="card-body">
              <h5 class="text-white">Buy 2 items, With special gift</h5>
              <p class="text-white-50" style="max-width: 400px;">Buy one, get one free marketing strategy helps your business improves the brand by sharing the profits</p>
              <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container end.// -->
  </section>
